<center><h2><%= current_user.user_name %></h2></center>
<h3>Liked Images</h3>
<% @liked_images.each do |image| %>
  <img src="<%= image.link %>">
<% end %>
<h3>Disliked Images</h3>
<% @disliked_images.each do |image| %>
  <img src="<%= image.link %>">
<% end %>
<form action="/users/<%= current_user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Yo Self. Supes Dangerous. No backsies">
</form>
