<div id="imagedisplay">
  <% if @image.is_a?(Image) %>
    <% if logged_in? %>
      <input type="submit" value="Like" onclick="like(<%= @image.id %>);">
      <input type="submit" value="Dislike" onclick="dislike(<%= @image.id %>);">
    <% end %>
    <input type="submit" value="Random" onclick="random();">
    <img src="<%= @image.link %>">
  <% else %>
    <p>There is no image for you to look at! Sad you :(</p>
  <% end %>
</div>